body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000333;
}

header {
  position: relative; /* Change absolute to relative */
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #3b5998;
  background-image: url('/static/img/logo.png');
  background-repeat: no-repeat;
  background-position: 50px 25px;
  border-bottom: 1px solid #133783;
}

body#loginPage section#content {
  position: relative; /* Avoid absolute positioning */
  top: 150px;
  left: 50%;
  transform: translateX(-50%); /* Center the content properly */
  width: 500px;
  padding: 0;
}

form label {
  display: block;
  width: 150px;
  text-align: right;
  padding: 4px 10px 0 0;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
  display: block;
  width: 20%; /* Adjust width to 100% */
  padding: 2px;
  margin-left: 160px;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

form input[type="submit"] {
  margin: 0 20px 0 160px;
  border-style: solid;
  border-width: 1px;
  border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 2px 15px 3px 15px;
  text-align: center;
}

a {
  color: #3b5998;
}

form p.error {
  margin-left: 160px;
  color: #d23d24;
}

ul.errorlist {
  margin-left: 160px;
  padding: 0;
  list-style-type: none;
  color: #d23d24;
}
