{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trombinoscoop – {% block title %}Bienvenue{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body id="{% block bodyId %}genericPage{% endblock %}">
    <header>
      {% block headerContent %}{% endblock %}
    </header>
    
    <nav>
      {% block nav %}{% endblock %}
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      {% block footer %}© 2025 Trombinoscoop - Tous droits réservés{% endblock %}
    </footer>
  </body>
</html>
